<mat-nav-list>
  <a mat-list-item routerLink="/Home">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/TreatmentPage">
    <mat-icon>medical_services</mat-icon>
    <span class="nav-caption">Treatments</span>
  </a>

  <a mat-list-item routerLink="/aboutus">
    <mat-icon>account_circle</mat-icon>
    <span class="nav-caption">About Us</span>
  </a>

  <a mat-list-item routerLink="/contactus">
    <mat-icon>contacts</mat-icon>
    <span class="nav-caption">Contact Us</span>
  </a>
</mat-nav-list>
