<br />
<mat-nav-list role="list">
  <mat-list-item role="listitem"
    ><img src="assets/Images/company.png" style="width: 60px; height: 70px;" />
    <span class="nav-caption1"> &nbsp; Company</span></mat-list-item
  >
  <br />
  <hr />
  <br />
  <mat-list-item role="listitem"
    ><img src="assets/Images/user.png" style="width: 60px; height: 60px;" />
    <span class="nav-caption">
      &nbsp; Welcome,<br />&nbsp; John Doe</span
    ></mat-list-item
  >
  <br /><br />
  <a routerLink="/home" (click)="sidenavclose()">
    <mat-list-item role="listitem">
      <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </mat-list-item></a
  >

  <mat-list-item role="listitem">
    <mat-icon>edit</mat-icon>
    <button mat-button [matMenuTriggerFor]="menu">From</button>
    <mat-icon>arrow_drop_down</mat-icon>
    <mat-menu #menu="matMenu">
      <a routerLink="/templateform" (click)="sidenavclose()">
        <button mat-menu-item>General Form</button></a
      >
      <a routerLink="/templateform" (click)="sidenavclose()">
        <button mat-menu-item>Validator Form</button>
      </a>
    </mat-menu>
  </mat-list-item>

  <mat-list-item role="listitem">
    <mat-icon>apps</mat-icon>
    <button mat-button [matMenuTriggerFor]="menus">UI Elements</button>
    <mat-icon>arrow_drop_down</mat-icon>

    <mat-menu #menus="matMenu">
      <a routerLink="/icons" (click)="sidenavclose()">
        <button mat-menu-item>Icons</button></a
      >
      <a routerLink="/card" (click)="sidenavclose()">
        <button mat-menu-item>Card</button>
      </a>
      <a routerLink="/gallary" (click)="sidenavclose()">
        <button mat-menu-item>Gallery</button>
      </a>
      <a routerLink="/table" (click)="sidenavclose()">
        <button mat-menu-item>Table</button>
      </a>
    </mat-menu>
  </mat-list-item>

  <a routerLink="/typography" (click)="sidenavclose()"
    ><mat-list-item role="listitem"
      ><mat-icon>card_membership</mat-icon>
      <span class="nav-caption">Typography</span></mat-list-item
    ></a
  >
</mat-nav-list>
