<div class="box">
  <h2>General Form</h2>

  <form class="formsetting">
    <h2>  Personel Data</h2>
    <label>Name: &nbsp;</label>
    <input type="text" name="name" ngModel />
    <br> <br>

    <label>Username: &nbsp;</label>
    <input required type="text"  name="username" ngModel  />
    <br> <br>

    <label>Email: &nbsp;</label>
    <input required type="text" name="emial" ngModel />
    <br> <br>

    <label>Confirm Email: &nbsp;</label>
    <input required type="text" name="confirmemail" ngModel  />
    <br> <br>

    <label>Number: &nbsp;</label>
    <input required type="number" name="number" ngModel />
    <br> <br>

    <label>Website: &nbsp;</label>
    <input required type="text" name="website" ngModel />
    <br> <br>

    <label>Occupation: &nbsp;</label>
    <input required type="text" name="occupation" ngModel />
    <br> <br>

    <label>Password: &nbsp;</label>
    <input required type="password" name="password" ngModel />
    <br> <br>

    <label>Repeat Passowrd: &nbsp;</label>
    <input required type="password" name="repeatpassowrd" ngModel />
    <br> <br>

    <label>Text Area: &nbsp;</label>
    <input required type="text" name="textarea" ngModel />
    <br> <br>
  <button class="btn btn-primary" type="button"> Cancel</button> &nbsp;
  <button class="btn btn-primary" type="submit"> Submit</button>
  </form>
</div>
