<div fxLayout="column" fxLayoutAlign="center center" style="padding: 30px;" fxHide.lt-md>
  <h1>Validator Form</h1>
  <form #f="ngForm" >
  <mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            class="input"
            matInput
            required
            minlength="8"
            maxlength="32"
            type="text"
            placeholder="Enter the Name"
            ngModel
            value=""
            name="name"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            class="input"
            matInput
            required
            minlength="8"
            maxlength="32"
            type="text"
            placeholder="Enter the Username"
            ngModel
            value=""
            name="username"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Website</mat-label>
          <input
            class="input"
            matInput
            required
            type="text"
            placeholder="Enter the Sebsite"
            ngModel
            value=""
            name="website"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Occupation</mat-label>
          <input
            class="input"
            matInput
            required
            type="text"
            placeholder="Enter the Occupation"
            ngModel
            value=""
            name="occupation"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            class="input"
            matInput
            required
            type="email"
            placeholder="Enter the email"
            ngModel
            value=""
            name="email"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            class="input"
            matInput
            required
            minlength="8"
            maxlength="32"
            type="password"
            placeholder="Enter the Passowrd"
            ngModel
            value=""
            name="passowrd"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input
            class="input"
            matInput
            required
            type="number"
            placeholder="Enter the Ph.No"
            ngModel
            value=""
            name="ph"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Text Area</mat-label>
          <textarea
            class="input"
            matInput
            required
            type="text"
            placeholder="Text Area"
            ngModel
            value=""
            cols="6"
            rows="6"
            name="treatment"
          ></textarea>
        </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button color="accent" type="submit">
            Cancel
          </button>
          <button mat-raised-button color="primary"   type="submit">
            Submit
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</form>
</div>
<div fxLayout="column" fxLayoutAlign="center center" style="padding: 30px;" fxHide.gt-md>
  <h1>Validator Form</h1>
  <mat-card class="mat" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            class="input"
            matInput
            required
            minlength="8"
            maxlength="32"
            type="text"
            placeholder="Enter the Name"
            ngModel
            value=""
            name="name"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            class="input"
            matInput
            required
            minlength="8"
            maxlength="32"
            type="text"
            placeholder="Enter the Username"
            ngModel
            value=""
            name="username"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Website</mat-label>
          <input
            class="input"
            matInput
            required
            type="text"
            placeholder="Enter the Sebsite"
            ngModel
            value=""
            name="website"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Occupation</mat-label>
          <input
            class="input"
            matInput
            required
            type="text"
            placeholder="Enter the Occupation"
            ngModel
            value=""
            name="occupation"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            class="input"
            matInput
            required
            type="email"
            placeholder="Enter the email"
            ngModel
            value=""
            name="email"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            class="input"
            matInput
            required
            minlength="8"
            maxlength="32"
            type="password"
            placeholder="Enter the Passowrd"
            ngModel
            value=""
            name="passowrd"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input
            class="input"
            matInput
            required

            type="number"
            placeholder="Enter the Ph.No"
            ngModel
            value=""
            name="ph"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Text Area</mat-label>
          <textarea
            class="input"
            matInput
            required
            type="text"
            placeholder="Text Area"
            ngModel
            value=""
            cols="6"
            rows="6"
            name="treatment"
          ></textarea>
        </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button color="accent" type="submit">
            Cancel
          </button>
          <button mat-raised-button  color="primary" type="submit">
            Submit
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
