
.box{
  padding: 50px;
}
input{
  padding-left:20px ;
  font-size: 18px;
}
.formsetting{
  border: 1px solid;
  padding: 20px;
}
mat-card{
  width: 500px;
}
mat-form-field{
  width: 300px;
}
.mat{
  width: 350px;
}
