.heading {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  padding-top: 50px;
  padding-left: 50px;
  color: black;
}
.para {
  padding: 50px;


}
