<h1 class="heading">Typograghy</h1>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  fxHide.lt-md
>
  <section
    style="
      text-align: center;
      font-size: 50px;
      font-weight: bolder;
      font-family: 'Times New Roman', Times, serif;
    "
  >
    <br />


    Sample data
  </section>

  <section class="para">
    <p style="background-color: bisque; font-size: 25px; line-height: 30px;">
      This is data set which sall be displayed according to user's choice .
      Multiple options are available for user to interact with with page.
      This is Sample data to represent the typography that can be useed in web page.
      This includes  <b>Font , styling, alignment, colour,etc..</b> ”
      <br />
      <br />
    </p>
    <p
      style="
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(248, 211, 197);
        text-align: center;
      "
    >
      <i>
        <b
          >“Radboud University recommends that while research is ongoing, data
          is stored on the campus network.</b
        >
        <br />
        <br />
        Safe and secure storage is guaranteed by the IT security and safety
        protocols of the campus network. In addition, it is proposed that
        Surfdrive (for non-personal data) or the campus network (for (sensitive)
        personal data) can be used to exchange between researchers during the
        project. If it is not possible to store the data directly on the campus
        network, data is stored encrypted on a local device (laptop) and
        transferred to the campus network as soon as possible.”</i
      >
      <br />
    </p>
    <br />

    <i
      >We are interested in exploring the design realm by serving clients need
      in ways that consistently exceed expectations, built trust and invite
      long-term partnership and collaboration.</i
    >
    <br />
    List sample:
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>
  </section>

  <br />

  <h3>Line Graph</h3>


</div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="20px"
  fxHide.gt-md
>
  <section
    style="
      text-align: center;
      font-size: 30px;
      font-weight: bolder;
      font-family: 'Times New Roman', Times, serif;
    "
  >
    <br />

    Sample data
  </section>

  <section class="para">
    <p style="background-color: bisque;">
      “It is the policy of Radboud University in general and our research
      institute [name research institute] in particular to share with the
      scientific community any data obtained in research projects, as long as
      ethical and legal regulations permit it. The university strives to publish
      the results, as well as supporting data in its raw, processed and analysed
      states, in a long-term data archive to which access may be open, or
      restricted, or both.” <br />
      <br />
    </p>
    <p
      style="
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(248, 211, 197);
      "
    >
      <i>
        <b
          >“Radboud University recommends that while research is ongoing, data
          is stored on the campus network.</b
        >
        <br />
        <br />
        Safe and secure storage is guaranteed by the IT security and safety
        protocols of the campus network. In addition, it is proposed that
        Surfdrive (for non-personal data) or the campus network (for (sensitive)
        personal data) can be used to exchange between researchers during the
        project. If it is not possible to store the data directly on the campus
        network, data is stored encrypted on a local device (laptop) and
        transferred to the campus network as soon as possible.”</i
      >
      <br />
    </p>
    <br />

    We are interested in exploring the design realm by serving clients need in
    ways that consistently exceed expectations, built trust and invite long-term
    partnership and collaboration.
    <br />

    List sample:
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>
  </section>

  <br />

</div>
<!-- <div *ngIf="chart">
  <canvas id="canvas">{{ chart }}</canvas>
</div>
<div style="display: block">
  <canvas
    mdbChart
    [chartType]="chartType"
    [datasets]="chartDatasets"
    [labels]="chartLabels"
    [colors]="chartColors"
    [options]="chartOptions"
    [legend]="true"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  >
  </canvas>
</div> -->
