table {
  width: 1000px;
}
.heading{
  font-family: cursive;
  font-size:50px;
  font-weight: bold;
  padding-top: 50px;
  color:black;
}
.mobheading{
  font-family: cursive;
 font-size:30px;
 font-weight: bold;
 padding-top: 50px;
 color:black;
 padding-bottom: 20px;

}

mat-table{
  width: 1000px;
}
.mat{
  width: 320px;
}
