<mat-toolbar>
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon style="width: 30px; height: 25px;">menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end"> <ul fxLayout class="navigation-items" fxLayoutGap="20px" >
     <li style="padding-top: 10px; font-size: 24px;">John Doe<mat-icon>arrow_drop_down</mat-icon></li>

  </ul>
  </div>
</mat-toolbar>
<!-- <mat-drawer-container class="example-container" [hasBackdrop]='false'>
  <mat-drawer #drawer>I'm a drawer</mat-drawer>
  <mat-drawer-content>
    <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
  </mat-drawer-content>
</mat-drawer-container> -->
