<div style="padding: 100px;">
<h1><b>Icons</b></h1>

<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> Home <br><br>
<mat-icon>alarm</mat-icon>alarm<br><br>
<mat-icon>copyright</mat-icon>copyright<br><br>
<mat-icon>delete_forever</mat-icon>delete_forever<br><br>
<mat-icon>done_outline</mat-icon>done_outline<br><br>
<mat-icon>euro_symbol</mat-icon>euro_symbol<br><br>
<mat-icon>extension</mat-icon>extension<br><br>
<mat-icon>favorite</mat-icon>favorite<br><br>
<mat-icon>feedback</mat-icon>feedback<br><br>
<mat-icon>fingerprint</mat-icon>fingerprint<br><br>
<mat-icon>help_outline</mat-icon>help_outline <br><br>

<a href="https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/">Many more</a>
</div>
